:root{
    --color-primary: #89CFF0;
    --color-white: #F9F6EE;
    --color-dark: #00008B;
}

html{
    
    scroll-behavior: smooth;
}



body{
   
    background-color: var(--color-primary);
    /* scroll-behavior: smooth; */
}

.container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--color-dark);
}


.nav {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: var(--color-dark);
}

.nav-link{
    color: var(--color-white);
}

.cards{
    margin:0 0 0 0 ;
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
}
