:root{
    --color-primary: #89CFF0;
    --color-white: #F9F6EE;
    --color-dark: #00008B;
}

html{
    
    scroll-behavior: smooth;
}



body{
    background-color: var(--color-primary);
    /* scroll-behavior: smooth; */
}

.container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--color-dark);
}


.nav {
    background: var(--color-dark);
}

.nav-link{
    color: var(--color-white);
}